{{- if .Values.secrets.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.name }}
  namespace: {{ .Values.global.namespaces.system }}
  labels:
    {{- include "shipsec.labels" . | nindent 4 }}
type: Opaque
stringData:
  DATABASE_URL: {{ .Values.secrets.databaseUrl | quote }}
  MINIO_ROOT_USER: {{ .Values.secrets.minioRootUser | quote }}
  MINIO_ROOT_PASSWORD: {{ .Values.secrets.minioRootPassword | quote }}
  MINIO_ACCESS_KEY: {{ .Values.secrets.minioRootUser | quote }}
  MINIO_SECRET_KEY: {{ .Values.secrets.minioRootPassword | quote }}
  SECRET_STORE_MASTER_KEY: {{ .Values.secrets.secretStoreMasterKey | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.name }}
  namespace: {{ .Values.global.namespaces.workers }}
  labels:
    {{- include "shipsec.labels" . | nindent 4 }}
type: Opaque
stringData:
  DATABASE_URL: {{ .Values.secrets.databaseUrl | quote }}
  MINIO_ROOT_USER: {{ .Values.secrets.minioRootUser | quote }}
  MINIO_ROOT_PASSWORD: {{ .Values.secrets.minioRootPassword | quote }}
  MINIO_ACCESS_KEY: {{ .Values.secrets.minioRootUser | quote }}
  MINIO_SECRET_KEY: {{ .Values.secrets.minioRootPassword | quote }}
  SECRET_STORE_MASTER_KEY: {{ .Values.secrets.secretStoreMasterKey | quote }}
{{- end }}
